<!DOCTYPE html>
<html>
<br>
</br>
<br>
</br>
<div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-12">
            <div> "Coach silly answer?
        </div>
    </div>
</div>

<p>"your question was":    <%=@answer %><p>
<p>"coach silly answer":    <%=@respuesta_coach%><p>

<%= link_to "Ask a new question", ask_path %>
